body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.numField {
  width: calc((100% / 7) - 1.4%);
  height: calc((100% / 7) - 1.4%);
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0.7%;
  cursor: pointer;
}
.number {
  transform: scale(1);
  transition: all 0.1s ease-out;
}
.checkMark {
  transform: scale(0);
}
.selected > .number {
  transform: scale(0);
  transition: all 0.1s ease-out;
  overflow: hidden;
}
.numField::before {
  content: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22.135 22.135' style='enable-background:new 0 0 22.135 22.135;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23030104;' d='M0,18.723L14.879,3.089c0,0,1.949-2.114,6.341-1.597c0,0,0.753,0.599,0.915,1.755L7.179,19.24 c0,0-1.236,1.558-6.461,1.438C0.717,20.678,0.2,20.438,0,18.723z'/%3E%3Cpath style='fill:%23030104;' d='M0,3.412l14.879,15.634c0,0,1.949,2.114,6.341,1.597c0,0,0.753-0.598,0.915-1.758L7.179,2.891 c0,0-1.236-1.556-6.461-1.436C0.717,1.456,0.2,1.696,0,3.412z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E ");
  height: 48px;
  width: 48px;
  position: absolute;
  transition: all 0.1s ease-out;
  transform: scale(0);
}

.numField.selected::before {
  transform: scale(1);
}

.disabled {
  cursor: not-allowed;
  color: #00000042;
}
.del {
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.fieldControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
  margin-left: 1%;
  margin-right: 1%;
}
.btn {
  border: 0;
  box-shadow: rgba(39, 88, 184, 0.5) 0px 10px 30px -8px;
  filter: contrast(1.25);
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: #316aff;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.next {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.show {
  opacity: 1;
}
.fieldHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
  font-size: 16px;
}

.fieldResults {
  color: black;
  transform: scale(0);
  transition: all 200ms ease-in-out;
}
.fieldResults.show {
  transform: scale(1);
  transition: all 200ms ease-in-out;
}
.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 70px;
}
.selectedField {
  border-radius: 33px;
  background-color: white;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
